<h1>New division</h1>

<form action="/wizard_divide">
  <label for="hooray">
    Divide this:
  </label>
  <input id="hooray" name="first_num" text="text">

  <label for="yay">
    by this:
  </label>
  <input id="yay" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
